/* Homework Due 6.10.19 */

header {
    background-image: url("assets/images/cinderellaBanner.jpg")
}

h1 {
    font-size: 80px;
    font-weight: 15px;
    text-align: center;
    font-family: 'Princess Sofia', cursive;
}

#instructions {
    font-size: 25px;
    font-weight: 5px;
    text-align: center;
}

#start-button {
    text-align: center;
}

